/* Navbar */
body{
    background-image:url('bgblack.jpg');
}


.navbar{
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 120%;
}


/* Blocks formatting */
.colored{
    padding:5% 5% 2%;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: "Computer Modern Sans", sans-serif;
    font-stretch: 110%;
}

/* Welcome section */
#home{
    margin-top: 10%;
}
.face-photo{
    border-radius: 100%;
    border: 5px solid rgb(255, 255, 255);
    width: 50%;
    height: auto;
    margin-bottom: 5%;
}
#home a{
    all: unset;
}

#home a:hover{
    all: unset;
    text-decoration: underline;
}
.title{
    font-weight: 700;
}

.stitle{
    font-weight: 500;
    margin-bottom: 20px;
}

.img-div{
    margin-bottom: 20%;
}


@media only screen and (min-width: 768px)  {
    #home{
        margin: 1% 15% 2% 15%;
    
    }
    .face-photo{
        border-radius: 100%;
        border: 5px solid rgb(255, 255, 255);
        height: auto;
        width: 40%;
        margin-bottom: 3%;
    }
}


/* Headlines */

.whiteboard{
    color:aliceblue;
    font-family: "Gochi Hand", sans-serif;
    font-weight: 200;
    position: absolute;
    font-size: 100%;
}
.whiteboard#logic{
    top: 4%;
    rotate: -40deg;
    left: 23%;
}
.whiteboard#forsem{
    top: 22%;
    right:7%;
    rotate: 30deg;
}
.whiteboard#phil{
    top: 20%;
    rotate: -30deg;
    left: 13%;
}
.whiteboard#fc{
    top: 11%;
    right: 11%;
    rotate: -40deg;
}
.whiteboard#ling{
    top: 26%;
    rotate: 35deg;
    left : 18%;
}
.whiteboard#ques{
    top: 3%;
    right: 18%;
    rotate: 28deg;
}
.whiteboard#exp{
    top: 11%;
    rotate: 20deg;
    left:7%;
}
.whiteboard#cemb{
    top: 26%;
    right:10%;
    rotate: 40deg;
}



    @media only screen and (min-width: 1300px)  {
        .whiteboard{
            font-size: 170%;
            color:aliceblue;
        }
        /* .whiteboard#logic{
            top: 5%;
            rotate: -40deg;
            left: 25%;
        }
        .whiteboard#forsem{
            top: 230px;
            right:80px;
            rotate: 30deg;
        }
        .whiteboard#phil{
            top: 300px;
            rotate: -20deg;
            left: 120px;
        }
        .whiteboard#fc{
            top: 100px;
            right:100px;
            rotate: -40deg;
        }
        .whiteboard#ling{
            top: 190px;
            rotate: 35deg;
            left:120px;
        }
        .whiteboard#ques{
            top: 40px;
            right:170px;
            rotate: 28deg;
        }
        .whiteboard#exp{
            top: 120px;
            rotate: 13deg;
            left:110px;
        }
        .whiteboard#cemb{
            top: 320px;
            right:70px;
            rotate: 40deg;
        } */
    }

/* Teaching */


.year-col{
    text-align: center;
}

.course-col{
    text-align: left;
    font-size: 120%;
}

@media only screen and (min-width: 768px)  {
    #teaching{
        margin-top: -10%;
    }
}