/* Navbar */
body{
    background-image:url('bgblack.jpg');
}


.navbar{
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 120%;
}


/* Blocks formatting */
.colored{
    padding:5% 5% 2%;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: "Computer Modern Sans", sans-serif;
    font-stretch: 110%;
}

/* Welcome section */
#home{
    margin-top: 10%;
}
.face-photo{
    border-radius: 100%;
    border: 5px solid rgb(255, 255, 255);
    width: 50%;
    height: auto;
    /* margin-bottom: 5%; */
}
#home a{
    all: unset;
    text-decoration: underline;
}

#home a:hover{
    all: unset;
    text-decoration: underline;
}
.title{
    font-weight: 700;
}

.stitle{
    font-weight: 500;
    margin-bottom: 20px;
}

.img-div{
    margin-bottom: 1%;
}
.title-text{
    margin-top: 20%;
}


@media only screen and (min-width: 768px)  {
    #home{
        margin: 2% 15% 2% 15%;
    
    }
    .face-photo{
        height: auto;
        width: 40%;
        margin-bottom: 3%;
    }
}


/* Headlines */

.whiteboard{
    color:aliceblue;
    font-family: "Gochi Hand", sans-serif;
    font-weight: 200;
    position: absolute;
    font-size: 100%;
}
.whiteboard#logic{
    top: 6%;
    rotate: -40deg;
    left: 20%;
}
.whiteboard#exp{
    top: 17%;
    rotate: 20deg;
    left:7%;
}
.whiteboard#phil{
    top: 30%;
    rotate: -30deg;
    left: 11%;
}
.whiteboard#ling{
    top: 35%;
    rotate: 35deg;
    left : 16%;
}

.whiteboard#ques{
    top: 5%;
    right: 16%;
    rotate: 28deg;
}
.whiteboard#fc{
    top: 17%;
    right: 8%;
    rotate: -40deg;
}
.whiteboard#forsem{
    top: 33%;
    right:5%;
    rotate: 30deg;
}
.whiteboard#cemb{
    top: 36%;
    right:9%;
    rotate: 40deg;
}

@media only screen and (min-width: 1000px)  {
    .title-text{
        margin-top: 5%;
    }}

    @media only screen and (min-width: 1200px)  {
        .title-text{
            margin-top: 2%;
        }
        .whiteboard{
            font-size: 170%;
        }
        .whiteboard#ling{
            top: 46%;
            rotate: 35deg;
            left : 16%;
        }
        .whiteboard#cemb{
            top: 47%;
            right:9%;
            rotate: 40deg;
        }
        
    }

/* Teaching */


.year-col{
    text-align: center;
}

.course-col{
    text-align: left;
    font-size: 120%;
}

@media only screen and (min-width: 768px)  {
    #teaching{
        margin-top: -10%;
    }
}