/* Navbar */
body{
    background-image:url('bgblack.jpg');
    background-repeat: no-repeat;

}

.title-hr{
    border: 1px solid white;
    margin: 3% 10%;
}

.navbar{
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 120%;
}


/* Blocks formatting */
.colored{
    padding:5% 5% 2%;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: "Computer Modern Sans", sans-serif;
    font-stretch: 110%;
}

/* Welcome section */
#home{
    margin-top: 12%;
}
.face-photo{
    border-radius: 100%;
    border: 5px solid rgb(255, 255, 255);
    width: 50%;
    height: auto;
    /* margin-bottom: 5%; */
}
#home a{
    all: unset;
    text-decoration: underline;
}

#home a:hover{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}
.title{
    font-weight: 700;
}

.stitle{
    font-weight: 500;
    margin-bottom: 20px;
}

.img-div{
    margin-bottom: 1%;
}
.title-text{
    margin-top: 20%;
}


@media only screen and (min-width: 768px)  {
    #home{
        margin: 3% 15% 2% 15%;
    
    }
    .face-photo{
        height: auto;
        width: 40%;
        margin-bottom: 3%;
    }
}


/* Headlines */

.whiteboard{
    color:aliceblue;
    font-family: "Gochi Hand", sans-serif;
    font-weight: 200;
    position: absolute;
    font-size: 100%;
}
.whiteboard#logic{
    top: 3%;
    rotate: -40deg;
    left: 20%;
}
.whiteboard#exp{
    top: 11%;
    rotate: 20deg;
    left:4%;
}
.whiteboard#phil{
    top: 20%;
    rotate: -30deg;
    left: 11%;
}
.whiteboard#ling{
    top: 25%;
    rotate: 35deg;
    left : 16%;
}

.whiteboard#ques{
    top: 3%;
    right: 16%;
    rotate: 28deg;
}
.whiteboard#fc{
    top: 11%;
    right: 6%;
    rotate: -40deg;
}
.whiteboard#forsem{
    top: 20%;
    right:2%;
    rotate: 30deg;
}
.whiteboard#cemb{
    top: 26%;
    right:5%;
    rotate: 40deg;
}

@media only screen and (min-width: 1000px)  {
    .title-text{
        margin-top: 5%;
    }}

    @media only screen and (min-width: 1200px)  {
        .title-text{
            margin-top: 2%;
        }
        .whiteboard{
            font-size: 170%;
        }
        .whiteboard#exp{
            top: 13%;
            rotate: 20deg;
            left:6%;
        }
        .whiteboard#phil{
            top: 30%;
            rotate: -30deg;
            left: 11%;
        }
        .whiteboard#ling{
            top: 46%;
            rotate: 35deg;
            left : 16%;
        }
        .whiteboard#fc{
            top: 20%;
            right: 8%;
            rotate: -40deg;
        }
        .whiteboard#forsem{
            top: 37%;
            right:5%;
            rotate: 30deg;
        }
        .whiteboard#cemb{
            top: 47%;
            right:9%;
            rotate: 40deg;
        }
        
    }


/* Talks */
#talks{
    background-image:url('bgblack.jpg');
}

.talk-col{
    text-align: left;
    font-size: 120%;
    color: white;
    margin-left: 10%;
}

.talk-hr{
    border: 0.7px solid rgba(255, 255, 255, 0.678);
    margin: 3% 20% 3% 0%;
}

.talk-row{
    padding-top: 0%;
    margin-bottom: 8%;
}

.more-btn{
    color: white;
    /* outline: solid  white; */
    margin-top: 1%;
}

.talks{
    font-size: 110%;
}

@media only screen and (min-width: 768px)  {
    #talks{
        margin-top: -5%;
    }
}

/* Teaching */
#teaching{
    background-image:url('bgblack.jpg');
}

#teaching a{
    all: unset;
    text-decoration: underline;
}

#teaching a:hover{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}
.year-col{
    text-align: center;
}

.course-col{
    text-align: left;
    font-size: 120%;
    color: white;
}
.course-row{
    padding-top: 1%;
}
.year-tag{
    font-size: 120%;
}
@media only screen and (min-width: 768px)  {
    #teaching{
        margin-top: -8%;
    }
    .year-tag{
        font-size: 250%;
    }
}


/* Publications */
#publications{
    background-image:url('bgblack.jpg');
}


/* Projects */
/* #projects{
    background-image:url('bgblack.jpg');
} */


/* Contact */
#contact{
    background-color: rgba(255, 255, 255, 0.822);
    
}
.con-text{
    color:#212529;
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 140%;
    font-weight: 500;
}