---
layout: header

---

  <!-- Welcome page -->

  
  <section id="home">
  <div class="row colored"> 
    <div class="col">
      <div class="img-div">
        <img src="assets/images/profile-picture-resized.png" class="face-photo">
          <div class="whiteboard" id="logic">
            <p>Logic</p>
          </div>
          <div class="whiteboard" id="forsem">
            <p >Formal Semantics</p>
          </div>
          <div class="whiteboard" id="phil">
            <p>Philosophy</p>
          </div>
          <div class="whiteboard" id="fc">
            <p >Free Choice</p>
          </div>
          <div class="whiteboard" id="ling">
            <p >Linguistics</p>
          </div>
          <div class="whiteboard" id="ques">
            <p >Questions</p>
          </div>
          <div class="whiteboard" id="exp">
            <p>Experiments</p>
          </div>
          <div class="whiteboard" id="cemb">
            <p>Clause-embedding</p>
          </div>
      </div>
      <div class="title-text">
        <h1 class="title">Hi, I am Tomasz Klochowicz</h1>
        <h3 class="stitle">I am a PhD student at the Institute for Logic, Language and Computation <a href="https://www.illc.uva.nl/">(ILLC)</a> at the <a href="https://www.uva.nl/en">University of Amsterdam</a>. </h3> 
        <h4 class="stitle">I work on the <a href="https://projects.illc.uva.nl/nihil/">NihiL</a> project under the supervision of <a href="https://www.marialoni.org/">Maria Aloni</a> and <a href="https://www.florisroelofsen.com/">Floris Roelofsen.</a></h4>
        <h3><a href="#news"><i class="fa-solid fa-chevron-down"></i></a></h3>
      </div> 
          
    </div>
  </div>
</section>
 
<!-- News & Events -->
<section id="news"> 
  <div class="row">
      
  </div>
  </section>
<!-- Teaching -->
<section id="teaching"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Teaching </h2>
      <hr>
    </div>
  </div>
  {%assign all_courses = site.data.courses | sort:"date" | reverse %}
  {%for course in all_courses%}
  {% capture current_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%if course == all_courses[0]%}
    <div class="row colored course-row">
      <div class="col-2 year-col"><h2>{{course.date | date:"%Y"}}</h2></div>
      <div class="col-10 course-col">
          {%if course.main%}
          <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>  for the {{course.program}} (Main instructor: {{course.main}})</p>
          {%else%}
          <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>   for the {{course.program}} </p>
          {%endif%}
    {% capture previous_course_year %}{{course.date  | date:"%Y"}}{% endcapture %}
    {%elsif current_course_year == previous_course_year %}
          {%if course.main%}
          <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>   for the {{course.program}} (Main instructor: {{course.main}})</p>
          {%else%}
          <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>   for the {{course.program}} </p>
          {%endif%}
    {% capture previous_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%elsif current_course_year != previous_course_year%}
      </div></div>
      <div class="row colored course-row">
        <div class="col-2 year-col"><h2>{{course.date | date:"%Y"}}</h2></div>
        <div class="col-10 course-col">
            {%if course.main%}
            <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>   for the {{course.program}} (Main instructor: {{course.main}})</p>
            {%else%}
            <p style="color: white"> {{course.role}} for <a href={{course.url}}>{{course.name}}</a>   for the {{course.program}} </p>
            {%endif%}
        {% capture previous_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%endif%}
  {%endfor%}
  </section>

<!-- Publications -->

<section id="publications"> 
  <div class="row">
      
  </div>
  </section>

<!--  Projects -->

<section id="projects"> 
  <div class="row">
      
  </div>
  </section>

<!-- Contact -->
<section id="contact"> 
  <div class="row">
      
  </div>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>