---
layout: header

---

  <!-- Welcome page -->

  
  <section id="home">
  <div class="row colored"> 
    <div class="col">
      <div class="img-div">
        <img src="assets/images/profile-picture-resized.png" class="face-photo">
          <div class="whiteboard" id="logic">
            <p>Logic</p>
          </div>
          <div class="whiteboard" id="forsem">
            <p >Formal Semantics</p>
          </div>
          <div class="whiteboard" id="phil">
            <p>Philosophy</p>
          </div>
          <div class="whiteboard" id="fc">
            <p>Free Choice</p>
          </div>
          <div class="whiteboard" id="ling">
            <p >Linguistics</p>
          </div>
          <div class="whiteboard" id="ques">
            <p >Questions</p>
          </div>
          <div class="whiteboard" id="exp">
            <p>Experiments</p>
          </div>
          <div class="whiteboard" id="cemb">
            <p>Clause-embedding</p>
          </div>
      </div>
      <div class="title-text">
        <h1 class="title">Hi, I am Tomasz Klochowicz</h1>
        <h3 class="stitle">I am a PhD student at the Institute for Logic, Language and Computation <a href="https://www.illc.uva.nl/">(ILLC)</a> at the <a href="https://www.uva.nl/en">University of Amsterdam</a>. </h3> 
        <h4 class="stitle">I work on the <a href="https://projects.illc.uva.nl/nihil/">NihiL</a> project under the supervision of <a href="https://www.marialoni.org/">Maria Aloni</a>, <a href="https://www.florisroelofsen.com/">Floris Roelofsen</a> and <a href="https://sites.google.com/view/giorgiosbardolini/home">Giorgio Sbardolini.</a></h4>
        <h3><a href="#talks"><i class="fa-solid fa-chevron-down"></i></a></h3>
      </div> 
          
    </div>
  </div>
</section>
 
<!-- Talks -->
<section id="talks"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Talks </h2>
      <hr class="title-hr">
    </div> 
  </div>
  {%assign all_talks = site.data.talks | sort:"date" | reverse %}
  {%assign len = all_Talks.size%}

  <div class="row colored talk-row">
    <div class="col talk-col">
  {%for talk in all_talks%}
    <p class="talks"><a class="more-btn" type="button" data-toggle="collapse" data-target=#{{talk.venue}} aria-pressed = "false" aria-expanded="false" aria-controls={{talk.venue}}> 
      <b>{{talk.venue}}</b>
    {{talk.date | date: "%-d %B %Y"}}
     <i>{{talk.title}}</i> 
    <i class="fa-solid fa-chevron-right arrow"></i>  </a></p>
   
    <div class="collapse" id={{talk.venue}}>
      {%if talk.slides and talk.abstract%}
      <p><b> <a href={{talk.slides}}>Slides</a> <a href={{talk.abstract}}>| Abstract</a></b></p>
      {%endif%}
      {%if talk.abstract and talk.slides == nil%}
      <p><b><a href={{talk.abstract}}>Abstract</a></b></p>
      {%endif%}
      {%if talk.slides and talk.abstract == nil%}
      <p><b> <a href={{talk.slides}}>Slides</a></b></p>
      {%endif%}
      <p>{{talk.description | markdownify}} 
        {%if talk.url%}
        <a href={{talk.url}}>See more.</a>
        {%endif%}
      </p>
    </div>
    {%if talk.date != all_talks[-1].date%}
    <!-- <hr class="talk-hr"> -->
    {%endif%}
  {%endfor%}
  
  </div>
  </div>


  

<!-- Teaching -->
<section id="teaching"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Teaching </h2>
      <hr class="title-hr">
    </div>
  </div>
  {%assign all_courses = site.data.courses | sort:"date" | reverse %}
  {%for course in all_courses%}
  {% capture current_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%if course == all_courses[0]%}
    <div class="row colored course-row">
      <div class="col-2 year-col"><h2 class="year-tag">{{course.date | date:"%Y"}}</h2></div>
      <div class="col-10 course-col">
          {%if course.main%}
          <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b> in the {{course.program}} (Main instructor: {{course.main}})</p>
          {%else%}
          <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b>  in the {{course.program}} </p>
          {%endif%}
    {% capture previous_course_year %}{{course.date  | date:"%Y"}}{% endcapture %}
    {%elsif current_course_year == previous_course_year %}
          {%if course.main%}
          <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b>  in the {{course.program}} (Main instructor: {{course.main}})</p>
          {%else%}
          <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b>  in the {{course.program}} </p>
          {%endif%}
    {% capture previous_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%elsif current_course_year != previous_course_year%}
      </div></div>
      <div class="row colored course-row">
        <div class="col-2 year-col"><h2 class="year-tag">{{course.date | date:"%Y"}}</h2></div>
        <div class="col-10 course-col">
            {%if course.main%}
            <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b>  in the {{course.program}} (Main instructor: {{course.main}})</p>
            {%else%}
            <p class="talks"> {{course.role}} for <b><a href={{course.url}}>{{course.name}}</a></b>  in the {{course.program}} </p>
            {%endif%}
        {% capture previous_course_year %}{{course.date | date:"%Y"}}{% endcapture %}
    {%endif%}
  {%endfor%}
    </div></div>
  </section>

<!-- Talks -->
<section id="supervision"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Supervision </h2>
      <hr class="title-hr">
    </div> 
  </div>

  <div class="row colored talk-row">
    <div class="col talk-col">
  
    <p class="talks">
      Master of Logic thesis by <b>Yuan Ma</b> titled  <i>Disjunctions in Mandarin Chinese</i> MoL-2025-24. ( <a href="https://eprints.illc.uva.nl/id/document/13089"> link </a>)</p>
    </p>
    </div>
    {%if talk.date != all_talks[-1].date%}
    <!-- <hr class="talk-hr"> -->
    {%endif%}
  {%endfor%}
  
  </div>
  </div>

<!-- Publications -->

<section id="publications"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Publications </h2>
      <hr class="title-hr">
    </div>
  </div>


  <div class="row colored course-row">
    <div class="col course-col">
      <script src="https://bibbase.org/show?bib=https://raw.githubusercontent.com/TJKlochowicz/Personal-website/master/assets/papers.bib&jsonp=1&hidemenu=true&theme=default&commas=true="></script>
    </div>
  </div>

  </section>

<!--  Projects -->

<section id="Organisation"> 
  <div class="row colored">
    <div class="col">
      <h2 class="title"> Reviewing and Organisation</h2>
      <hr class="title-hr">
            </div>
  </div>
 <div class="row colored talk-row">
    <div class="col talk-col">
      <ul>
        <li>2023-2026 co-organisation of the DIP Colloquium and the MLC Seminar</li>
        <li> Science day 2025 (organisation of the Institute's presentation)</li>
        <li> 2025 Reviewer for Discourse and Dialogue</li>
        <li> 2025 Reviewer for Cogsci 2025</li>
        <li>2025 co-organisation of 25th Workshop on the Roots of Pragmasemantics (Szklarska Poręba) </li>
        <li> 2024 Reviewer for the Amsterdam Colloquium 2024</li>
        <li>2024 co-organisation of the NihiL Workshop (Amsterdam)</li>
        <li> 2024 Reviewer for Cogsci 2024</li>
        <li>2023-2024 co-organisation of the NihiL Seminar</li>
      </ul>


    </div>
  </div>


<!-- Contact -->
<section id="contact"> 
  <div class="row colored">
    <div class="col con-text">
     <h4> <b>Contact information </b></h4>
     <hr>

    </div>
      
  </div>
  <div class="row colored course-row">
    <div class="col con-text">
     <p> If you want to learn more about my work or want to chat about our common academic intersts feel free to email me at: <br> <a href="mailto:t.j.klochowicz@uva.nl">t.j.klochowicz[at]uva.nl</a></p>
    <p> You can also find me in my office at the ILLC room F1.11 or at Oude Turfmarkt 141-143  </p>
    </div>
      
  </div>
  <div class="row colored course-row">
    <div class="col con-text" style="font-size: 110%;">
     <p> My full given name is Tomasz which is pronounced roughly as <i>Thomash</i> [/ˈtɔ.maʂ/] with the focus on the first syllable.</p> 
    <p>However I rarely use that name outside of offical documents. You can call me Tom or Tomek, but Tomasz is also fine :).</p>
    <p> If you want to email me in Polish (or any other language) feel free to skip all the ususal honorifics and just call me by my first name.</p>
    </div>
      
  </div>

  </body>
</html>