@media only screen and (min-width: 600px)  {
    .consent{
        font-size: 90%;
        text-align: left;
        margin: 5% 10%;
    }
}

.picture-select:hover{
    border: 100px solid #555;

}
body{
    background-color: red;
}