@media only screen and (min-width: 600px)  {
    .white-space-ann{
        margin-left: 41px;
    }
    .white-space-bill{
        margin-left: 44px;
    }
    .consent{
        font-size: 90%;
        text-align: left;
        margin: 5% 10%;
    }
}
